<div class="nav">
    <button class="back-button" mat-raised-button routerLink="/matches">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
</div>

<div *ngIf="(match$ | async) as match" class="main-div">
    <mat-card class="card">
        <div class="info">
            <h1 class="name">{{ match.playerOneFullName }} - {{ match.playerTwoFullName }}</h1>
            <h1 class="name" *ngFor="let result of match.results">
                {{ result.playerOneResult }} : {{ result.playerOneResult}}
            </h1>
        </div>
    </mat-card>
</div>