<div class="nav">
    <button class="back-button" mat-raised-button routerLink="/matches">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
</div>

<div *ngIf="(match$ | async) as match" class="main-div">
    <mat-card class="card">
        <div class="info">
            <h1 class="name">{{ match.playerOne.firstName }} {{ match.playerOne.lastName}} -
                {{ match.playerTwo.firstName }} {{ match.playerTwo.lastName }}
            </h1>
            <div class="result" *ngFor="let result of match.results">
                <span *ngIf="result.playerOneResult > result.playerTwoResult">
                    [<strong>{{ result.playerOneResult }}</strong> : {{ result.playerTwoResult }}]
                </span>
                <span *ngIf="result.playerOneResult < result.playerTwoResult">
                    [{{ result.playerOneResult }} : <strong>{{ result.playerOneResult }}</strong>]
                </span>
            </div>
        </div>
    </mat-card>
</div>