<div class="nav">
    <h1 class="title">Matches</h1>
    <button class="create-button" mat-raised-button color="primary" (click)="onCreateMatchClick($event)">
        Add Match
    </button>
</div>

<div class="table-container">
    <table mat-table matSort [dataSource]="matches$ | async" class="mat-elevation-z8">
        <ng-container matColumnDef="playerOne">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Player One</th>
            <td class="name-cell" mat-cell *matCellDef="let match">{{ match.playerOne.firstName }} {{
                match.playerOne.lastName}}</td>
        </ng-container>

        <ng-container matColumnDef="playerTwo">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Player Two</th>
            <td class="name-cell" mat-cell *matCellDef="let match">{{ match.playerTwo.firstName }} {{
                match.playerTwo.lastName}}</td>
        </ng-container>

        <ng-container matColumnDef="sets">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Sets</th>
            <td class="name-cell" mat-cell *matCellDef="let match">
                <span *ngFor="let result of match.results">
                    <span *ngIf="result.playerOneResult > result.playerTwoResult">
                        [<strong>{{ result.playerOneResult }}</strong> : {{ result.playerTwoResult }}]
                    </span>
                    <span *ngIf="result.playerOneResult < result.playerTwoResult">
                        [{{ result.playerOneResult }} : <strong>{{ result.playerTwoResult }}</strong>]
                    </span>
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td class="action-cell" mat-cell *matCellDef="let match">
                <button mat-button (click)="onDeleteMatchClick($event, match.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="row.id"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No matches found</td>
        </tr>
    </table>
    <mat-paginator pageSize="10" hidePageSize="true">
    </mat-paginator>
</div>