@import "./variables";

.nav {
  display: flex;
}

.back-button,
.title {
  margin: 20px 0 0 20px;
}

.create-button {
  right: 0;
  position: absolute;
  margin: 20px 20px 0 0;
}

.table-container {
  margin: 20px;

  .input-size {
    font-size: 16px;
  }

  table {
    width: 100%;

    .table-row {
      cursor: pointer;
    }

    .mat-row:hover {
      background-color: $color-light-grey-hover;
    }

    .action-cell {
      width: 130px;
      padding-right: 0;
    }
  }
}

.main-div {
  display: flex;
  width: 100%;
  justify-content: center;
}

mat-card {
  padding: 0 0 20px 0;
  .header {
    background: $color-primary;
  }

  .info {
    margin-top: 50px;

    h1 {
      font-size: 30px;
      margin: 20px;
    }

    h2 {
      margin: 0;
    }
  }
}

form {
  padding: 20px;
  mat-form-field {
    margin: 5px;
  }
}
