@import "../../../style/variables";

.drawer-container {
  width: 100%;
  height: calc(100% - 64px);
  margin: 0;
  border: 1px solid;

  .buttons-container {
    display: grid;
  }
}

.active-list-item {
  background: $color-light-grey-hover !important;
}
